* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
}

.mobile,
.header__container.mobile {
  display: none;
}

.burger-menu,
.cart-mobile,
.filters-submit,
.filters-close {
  display: none;
}

header {
  height: 73px;
  background: #265c9a;
  display: flex;
  align-items: center;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  width: 1128px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 86px;
  flex-grow: 0;
}

.logo {
  color: #fff;
  font-family: PT Sans;
  font-size: 28px;
  font-weight: 700;
}

.phone {
  color: #fff;
  font-family: PT Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.search-container {
  display: flex;
  align-items: center;
  padding-bottom: 1px;
  background-color: transparent;
  gap: 7px;
  border-bottom: solid 1px #517dae;
  width: 280px;
}

.search-icon {
  width: 13px;
  height: 13px;
  color: #fff;
}

#search {
  flex: 1 1 auto;
  height: 21px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
}

#search::placeholder {
  color: #fff;
}

.shipping {
  color: #fff;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  text-underline-offset: 3px;
}

nav {
  background: #1f497b;
  height: 46px;
  width: 100%;
  z-index: 15;
}

.menu {
  display: flex;
  height: 100%;
  gap: 39px;
  align-items: center;
  list-style: none;
}

.menu__item-link {
  text-decoration: none;
  color: #fff;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart-link {
  display: flex;
  gap: 9px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.cart-link:hover,
.menu__item-link:hover,
.shipping:hover {
  color: #fbff3d;
  cursor: pointer;
}

.filters {
  margin-top: 25px;
  margin-bottom: 23px;
  display: flex;
  gap: 27px;
}

.filters__container {
  display: flex;
  gap: 14px;
}

.dropdown {
  position: relative;
  width: 264px;
  border: 1px solid #d0d0d0;

  color: #484848;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.dropdown.active {
  border-bottom: none;
}

.dropdown__header {
  position: relative;

  margin: 13px 17px;
  display: flex;
  align-items: center;
}

.dropdown.active .dropdown__header::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: -13px;
  background-color: #d0d0d0;
  z-index: 9;
}

.dropdown__header::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  right: 0px;

  background-image: url(./assets/caret.svg);
}

.dropdown__list {
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 264px;
  list-style: none;
  background-color: #fff;
  transform: translateY(100%);
  overflow: hidden;
  transition: all 0.1s ease;

  z-index: 10;
}

.dropdown.active .dropdown__list {
  padding: 6px 0 10px 0;
  border: 1px solid #d0d0d0;
  border-top: none;
}

.dropdown__list-item {
  padding: 7px 16px;
}

.dropdown__list-item:hover {
  background: #e8eeff;
}

.filters__price {
  display: flex;
  align-items: center;
  color: #484848;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.filters__price-block:nth-child(2n) {
  margin-left: 14px;
}

.filters__price-block:nth-child(2n-1) {
  margin-right: 9px;
  border-left: none;
}

.filters__price-block {
  height: 48px;
  display: flex;
  gap: 8px;
  padding: 13px 10px;
  border: 1px solid #d0d0d0;
  width: 132px;
}

.filters__price-block input {
  display: flex;
  width: 81px;
  flex: 1 1 81px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}

.filters__price-block input::placeholder {
  color: #484848;
}

.filters-mobile {
  display: none;
}

.products {
  margin-bottom: 39px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid #dedede;
}

main .wrapper {
  flex-direction: column;
  align-items: start;
}

.products__item-huge {
  display: flex;
  gap: 20px;
  text-decoration: none;
  flex: 2 1 50%;
  padding: 20px 20px 16px 20px;
  border: 1px solid #dedede;
  transition: all 0.1s ease-in-out;
}

.products__item-huge:hover {
  border: 1px solid #ff3d3d;
  background: #fff1f1;
}

.product__item-huge__image {
  object-fit: contain;
  object-position: top;
}

.products__item-huge__caption {
  display: grid;
}

.products__item-huge__caption-title {
  margin-bottom: 4px;
  color: #333;
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 400;
}

.products__item-huge__caption-desc {
  margin-bottom: 20px;
  color: #989898;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
}

.products__item-huge__caption-old {
  align-self: flex-end;
  margin-bottom: 8px;
  color: #989898;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}

.products__item-huge__caption__price {
  align-self: flex-end;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ff3d3d;
}

.products__item-huge__caption__price::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: -5px;
  background-color: #ffbcbc;
}

.products__item-huge__caption__price-value {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 400;
}

.products__item-huge__caption__price-cart {
  display: flex;
  align-items: center;
}

.products__item {
  display: grid;
  flex: 1 1 25%;
  padding: 20px 20px 14px 19px;
  border: 1px solid #dedede;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.products__item:hover {
  border: 1px solid #819deb;
  background: #e8eeff;
}

.product__item-image {
  margin-bottom: 10px;
  justify-self: center;
  width: 160px;
  height: 160px;
}

.products__item-title {
  margin-bottom: 6px;
  width: 100%;
  text-align: left;
  color: #333;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
}

.products__item-desc {
  margin-bottom: 26px;
  color: #979797;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
}

.products__item__price {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #325ac0;
}

.products__item__price::before {
  content: "";
  position: absolute;
  top: -5px;
  width: 100%;
  height: 1px;
  background-color: #8eacfc;
}

.products__item__price-value {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 400;
}

.products__item__price-cart {
  display: flex;
  align-items: center;
}

.scroll-lock {
  overflow: hidden;
}

@media (max-width: 1150px) {
  .wrapper {
    width: 984px;
  }

  .products__item-huge {
    flex: 2 1 66%;
    grid-area: 26px;
    padding-bottom: 19px;
  }
  .products__item {
    flex: 1 1 33%;
    padding-bottom: 19px;
  }

  .product__item-huge__image {
    width: 297px;
    height: 297px;
  }

  .products__item-huge__caption__price::before {
    top: -8px;
  }

  .products__item__price::before {
    top: -8px;
  }
}

@media (max-width: 1024px) {
  .shipping,
  .phone {
    display: none;
  }

  .cart-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;

    color: #fff;
  }

  header {
    height: 72px;
    position: fixed;
    width: 100%;
    z-index: 9;
  }

  .wrapper {
    margin: 0 20px;
    width: calc(100% - 40px);
  }

  .burger-menu {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
  }

  .burger-menu:hover,
  .cart-mobile:hover,
  .btn-search:hover {
    color: #fbff3d;
  }

  .header__container {
    gap: 41px;
    width: 100%;
  }

  .search-container {
    flex-grow: 1;
  }

  nav {
    position: fixed;
    height: 0;
    top: 72px;
    overflow: hidden;
    background: #265c9a;
  }
  nav.active {
    height: fit-content;
  }

  .menu {
    flex-direction: column;
    margin-top: 11px;
    margin-bottom: 15px;
    width: 100%;
    align-items: flex-start;
    gap: 0;
  }

  .cart-link {
    display: none;
  }

  .menu__item {
    width: 100%;
  }
  .menu__item-link {
    display: flex;
    padding: 9px 16px;
    width: 100%;
  }
  .menu__item-link:hover {
    border-radius: 1px;
    background: #618cbf;
    color: #fff;
  }

  main {
    padding-top: 72px;
  }

  .filters__wrapper {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
  }

  .filters__wrapper.active {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
  }

  .filters {
    position: relative;
    margin-top: 146px;
    width: 560px;
    height: fit-content;
    flex-direction: column;
    background: #fff;
    padding: 20px 18px;
    gap: 19px;
  }

  .filters__container {
    flex-direction: column;
  }

  .dropdown {
    width: 100%;
  }

  .dropdown__list {
    width: calc(100% + 2px);
  }

  .filters__price {
    flex-direction: column;
    gap: 19px;
  }

  .filters__price span {
    display: none;
  }

  .filters__price .filters__price-block {
    margin: 0;
    width: 100%;
    border: 1px solid #d0d0d0;
    text-transform: lowercase;
  }

  .filters-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
    outline: none;
    border: none;
    border-radius: 1px;
    background: #ff3d3d;
    color: #fff;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }

  .filters-submit:hover {
    background: #ce2929;
  }

  .filters-close {
    position: absolute;
    display: flex;
    color: #fff;
    top: -8px;
    right: 0;
    transform: translateY(-100%);
    cursor: pointer;
  }

  .filters-close:hover {
    color: #b4b4b4;
  }

  .filters-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
    text-transform: uppercase;
    color: #333;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 700;
  }

  .filters-open {
    display: flex;
    width: 22px;
    height: 22px;
    background-image: url(adjust.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .products {
    z-index: 1;
  }
}

@media (max-width: 905px) {
  .wrapper {
    width: 728px;
    margin: 0 auto;
  }

  .products__item-huge {
    flex: 2 1 100%;
    gap: 26px;
    padding-bottom: 16px;
    justify-content: space-between;
  }
  .products__item {
    flex: 1 1 50%;
    padding-bottom: 17px;
  }

  .product__item-huge__image {
    width: calc(50% - 13px);
  }

  .products__item-huge__caption {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(50% - 13px);
  }

  .products__item-huge__caption-title {
    margin-bottom: 0;
    height: fit-content;
  }
  .products__item-huge__caption-old {
    align-self: normal;
    position: absolute;
    bottom: 35px;
  }

  .products__item-huge__caption__price {
    align-self: normal;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .products__item-huge__caption-desc {
    margin-bottom: 70px;
  }

  .product__item-image {
    width: 175px;
    height: 175px;
    margin-bottom: 15px;
  }

  .products__item-title {
    margin-bottom: 2px;
  }
  .products__item-desc {
    margin-bottom: 23px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0 20px;
    width: calc(100% - 40px);
  }

  .header__container {
    gap: 38px;
  }

  .filters {
    width: 280px;
  }
}

@media (max-width: 520px) {
  .header__container {
    display: none;
  }

  .header__container.mobile {
    display: flex;
    justify-content: space-between;
  }

  .cart-mobile {
    display: flex;
  }

  .btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    width: 16px;
    height: 16px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
  }

  .header__container-item {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  .header__container-item:nth-child(2n) {
    gap: 19px;
  }

  .active.search-mobile {
    display: flex;
  }

  .search-mobile {
    display: none;
    position: absolute;
    width: 100%;
    height: 44px;
    padding: 12px 0;
    background: #1f497b;
    bottom: 0;
    transform: translateY(100%);
  }

  .products__item-huge {
    flex-direction: column;
    gap: 20px;
    padding: 18px;
    padding-bottom: 16px;
  }

  .product__item-huge__image {
    width: 100%;
  }

  .products__item-huge__caption {
    width: 100%;
  }

  .products__item-huge__caption-title {
    margin-bottom: 5px;
  }

  .products__item-huge__caption-desc {
    margin-bottom: 95px;
  }

  .products__item-huge__caption-old {
    bottom: 34px;
  }

  .products__item {
    flex: 1 1 100%;
    padding: 18px;
    padding-bottom: 16px;
  }

  .product__item-image {
    width: 169px;
    height: 169px;
    margin-bottom: 8px;
  }

  .products__item-title {
    margin-bottom: 5px;
  }

  .products__item-desc {
    margin-bottom: 23px;
  }
}
