* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
}

.mobile,
.header__container.mobile {
  display: none;
}

.burger-menu,
.cart-mobile,
.filters-submit,
.filters-close {
  display: none;
}

header {
  height: 73px;
  background: #265c9a;
  display: flex;
  align-items: center;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  width: 1128px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 86px;
  flex-grow: 0;
}

.logo {
  color: #fff;
  font-family: PT Sans;
  font-size: 28px;
  font-weight: 700;
}

.phone {
  color: #fff;
  font-family: PT Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.search-container {
  display: flex;
  align-items: center;
  padding-bottom: 1px;
  background-color: transparent;
  gap: 7px;
  border-bottom: solid 1px #517dae;
  width: 280px;
}

.search-icon {
  width: 13px;
  height: 13px;
  color: #fff;
}

#search {
  flex: 1 1 auto;
  height: 21px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
}

#search::placeholder {
  color: #fff;
}

.shipping {
  color: #fff;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  text-underline-offset: 3px;
}

nav {
  background: #1f497b;
  height: 46px;
  width: 100%;
  z-index: 15;
}

.menu {
  display: flex;
  height: 100%;
  gap: 39px;
  align-items: center;
  list-style: none;
}

.menu__item-link {
  text-decoration: none;
  color: #fff;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart-link {
  display: flex;
  gap: 9px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.cart-link:hover,
.menu__item-link:hover,
.shipping:hover {
  color: #fbff3d;
  cursor: pointer;
}

.filters {
  margin-top: 25px;
  margin-bottom: 23px;
  display: flex;
  gap: 27px;
}

.filters__container {
  display: flex;
  gap: 14px;
}

.dropdown {
  position: relative;
  width: 264px;
  border: 1px solid #d0d0d0;

  color: #484848;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.dropdown.active {
  border-bottom: none;
}

.dropdown__header {
  position: relative;

  margin: 13px 17px;
  display: flex;
  align-items: center;
}

.dropdown.active .dropdown__header::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: -13px;
  background-color: #d0d0d0;
  z-index: 9;
}

.dropdown__header::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  right: 0px;

  background-image: url(/assets/caret.svg);
}

.dropdown__list {
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 264px;
  list-style: none;
  background-color: #fff;
  transform: translateY(100%);
  overflow: hidden;
  transition: all 0.1s ease;

  z-index: 10;
}

.dropdown.active .dropdown__list {
  padding: 6px 0 10px 0;
  border: 1px solid #d0d0d0;
  border-top: none;
}

.dropdown__list-item {
  padding: 7px 16px;
}

.dropdown__list-item:hover {
  background: #e8eeff;
}

.filters__price {
  display: flex;
  align-items: center;
  color: #484848;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.filters__price-block:nth-child(2n) {
  margin-left: 14px;
}

.filters__price-block:nth-child(2n-1) {
  margin-right: 9px;
  border-left: none;
}

.filters__price-block {
  height: 48px;
  display: flex;
  gap: 8px;
  padding: 13px 10px;
  border: 1px solid #d0d0d0;
  width: 132px;
}

.filters__price-block input {
  display: flex;
  width: 81px;
  flex: 1 1 81px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}

.filters__price-block input::placeholder {
  color: #484848;
}

.filters-mobile {
  display: none;
}
